<!DOCTYPE html>
<html>
  <head>
    <title>Rake Immersion - Brought to you by EdgeCase</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="reset.css">
    <link rel="stylesheet" media="screen" href="screen.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1142510-7']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="html5.js"></script>
    <script type="text/javascript" src="jquery.hotkeys.js"></script>
    <script type="text/javascript" src="UI.js"></script>
  </head>
  <body>
    <header id="header">
      <a href="index.html" id="home_link">Rake Immersion</a>
      <a href="http://edgecase.com" target="_blank" id="edgecase_link">Brought to you by EdgeCase</a>
      <nav>
        <ul>
          <li class="arrow next">
            <a href="lab_01.html#main_content">Start</a>
          </li>
          <li class="toc_button"><a href="#">Table of Contents</a></li>
          <li class="index_button"><a href="#">Index</a></li>
        </ul>
      </nav>
    </header>
    <div id="homepage">
      <div id="border_left">
        <div id="intro">
          <p>
Rake is a tool that Jim Weirich, EdgeCase's Chief Scientist, created as a personal challenge.
Because Ruby is so expressive, Jim decided he could use it to encode the dependencies and actions around building automation more cleanly than ever before.
He built it.
He was happy.
Being able to easily express and access dependency-based automation helped him deliver high-quality software in hours instead of days.
          </p>
          <p>
While Rake brings the power of this automation to Ruby, it is not specific to systems coded in Ruby.
Developers can use Rake to express dependencies and automation for practically any system quickly and cleanly, putting power-user capabilites within everyone's reach.
          </p>
          <p>
            <em>
Rake Immersion is part guided tour and part reference, helping both new and seasoned developers better manage complexity through simplicity.
            </em>
          </p>
        </div>
        <div id="license">
          <h1>LICENSE <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"/></a></h1>
          <p>
RakeImmersion is released under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons, Attribution-NonCommercial-ShareAlike</a> License.
          </p>
        </div>
      </div> <!-- /#border_left -->
      <div id="brought_to_you_by">
        <h1>Brought to you by:</h1>
        <a href="http://edgecase.com" target="_blank">Edgecase</a>
      </div>
    </div>
    <%= lab_index(f, labs) %>
  </body>
</html>
